PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/elevon
JWT_SECRET=super_secret_jwt_key_elevon_2026

# Cloudinary Integration (Required for file storage)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
